<launch>
  <!-- Launch RVIZ with rviz_df config
       ARGUMENTS:
        rviz_config_args - which rviz config to use (preceded by -d)
        rviz_debug       - true to debug rviz
        debug            - true to debug everything
  -->


  <arg name="rviz_config_args" default="-d $(find collision_distance_field_display)/config/rviz_df.rviz"/>
  <arg name="rviz_debug" default="false"/>
  <arg name="debug" default="false"/>


  <include file="$(find collision_distance_field_display)/launch/rviz_pr2.launch">
    <arg name="rviz_config_args" value="$(arg rviz_config_args)"/>
    <arg name="rviz_debug" value="$(arg rviz_debug)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include> 
</launch>
